@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgba(17, 138, 57, 0.65);
}

nav {
    background-color: rgb(31, 183, 132);
}

.upper {
    display: flex;
    justify-content: space-between;
}

ul {
    width: 100vw;
}

h1 {
    margin: 0.2rem;
    font-size: 2rem;
}

button {
    width: 3rem;
    height: 2.74rem;
    border: none;
    background-color: rgb(255, 254, 255);
}

img {
    width: 100%;
    height: 100%;
}

.hide {
    background-color: rgb(56, 61, 65);
}

